@import "~bootstrap/dist/css/bootstrap.min.css";

.cardClass {
  font-size: 800%;
  border-radius: 4%;
  width: 400px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#hearts {
  color: red;
}
